#!/bin/bash

VERSION={{ xmrig_version }}
RELEASE=xmrig-${VERSION}-lin64-compat
Link="https://github.com/MoneroOcean/xmrig/releases/download/${VERSION}/${RELEASE}.tar.gz"

#Update function
Update_DIR () {

	cd /tmp
	rm /tmp/xmrig* -Rf
	rm /tmp/config.json -Rf
	curl -sSL $Link | tar xz

	mv /tmp/xmrig {{ xmrig_folder }}
	mv /tmp/config.json {{ xmrig_folder }}

	rm /tmp/xmrig* -Rf
	rm /tmp/config.json -Rf

}

if [ -x "$(command -v systemctl)" ]; then

	if [ -f "/etc/systemd/system/xmrig.service" ]; then
        	systemctl stop xmrig
        	rm /etc/systemd/system/xmrig.service
	fi

	Update_DIR

else

	echo "Only for systemd"

fi

cat <<EOF > /etc/systemd/system/xmrig.service
[Unit]
Description=Monero
After=network.target

[Service]
Restart=always
WorkingDirectory=/opt/xmrig/
ExecStart=/opt/xmrig/xmrig -o gulf.moneroocean.stream:10128 -u {{monero_valet}} -p {{ansible_hostname}} --threads {{threads}}

[Install]
WantedBy=multi-user.target
EOF

